[Desktop Entry]
Encoding=UTF-8
Name=Smrt
Comment=Smrt P2P Cryptocurrency
Comment[fr]=Smrt, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Smrt, eşten eşe kriptografik sanal para birimi
Exec=smrt-qt %u
Terminal=false
Type=Application
Icon=smrt128
MimeType=x-scheme-handler/smrt;
Categories=Office;Finance;
