[Unit]
Description=SMRT's distributed currency daemon
After=network.target

[Service]
User=smrt
Group=smrt

Type=forking
PIDFile=/var/lib/smrtd/smrtd.pid

ExecStart=/usr/bin/smrtd -daemon -pid=/var/lib/smrtd/smrtd.pid \
          -conf=/etc/smrt/smrt.conf -datadir=/var/lib/smrtd

ExecStop=-/usr/bin/smrt-cli -conf=/etc/smrt/smrt.conf \
         -datadir=/var/lib/smrtd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
